html, body {
    font-family: 'Lato', sans-serif;
    height: 100% !important;
}

.admin-login-text {
    margin-top: 40px;
    margin-bottom: 25px;
}

.admin-header-text {
    font-weight: 300;
}

.admin-bold {
    font-weight: 600;
}

.grizz-logo-img {
    margin-left: 10%;
    margin-right: 10%;
}

.login-form-radius {
    border-radius: 20px;
}

.login-btn {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-0 {
    padding: 0px;
}

.nav-logo-text {
    padding-left: 10px;
}

.nav-bg-custom {
    background-color: #e8ecf1;
    box-shadow: 0px 5px 30px -7px rgba(0,0,0,0.3);
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.user-profile-avatar {
    width: 140px;
    height: 140px;
    background-color: #ff6b6b;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto;
}

.initials {
    position: relative;
    top: 35px; /* 25% of parent */
    font-size: 70px; /* 50% of parent */
    line-height: 70px; /* 50% of parent */
    color: #fff;
  }