.admin-login-text {
    margin-top: 50px;
    margin-bottom: 25px;
}

.grizz-logo-img {
    margin-left: 10%;
    margin-right: 10%;
}

.login-form-radius {
    border-radius: 20px;
}

.login-btn {
    padding-left: 20px;
    padding-right: 20px;
}